cleaned-dataset_yolo/
images/
images_100/
labels_100/
images_bytho_463/
labels_bytho_463/
images_10/
labels_10/
runs/

expert-dataset.csv
raw-dataset.csv

YOLOv8-weights-for-Buccinidae-detection.pt
YOLOv8-weights-for-Bythograeidae-detection.pt

10_dataset.yaml
100_dataset.yaml